spring:
    application:
        name: auth
    profiles:
        active: dev
resilience4j:
    timelimiter:
        instances:
          UserClientloginMapLogin:
              timeout-duration: 3s

USER_SERVER_URL: ${USER_SERVER_URL}
