spring:
    application:
        name: auth
    profiles:
        active: dev
    data:
        redis:
            cluster:
                nodes:
                    - ${server.url}:${redis_master.port1},
                    - ${server.url}:${redis_master.port2},
                    - ${server.url}:${redis_master.port3},
                max-redirects: 3
    cache:
        type: redis
        redis:
            enable-statistics: true

server:
    port: 8085