spring:
  application:
    name: scg
  profiles:
    active: dev
  cloud:
    loadbalancer:
      cache:
        enabled: true
        ttl: 5s
    gateway:
      forwarded:
        enabled: true
      x-forwarded:
        enabled: true
        for-enabled: true
        proto-enabled: true
        host-enabled: true
        prefix-enabled: true

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
        - name: TenantHeaderFilter
        - name: LoggingFilter
        - name: ForwardedForHeaderFilter
        - name: UserAgentHeaderFilter

      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:*"
              - "http://*.localhost:*"
              - "http://localtest.me:*"
              - "http://*.localtest.me:*"
              - "http://*.kkhan.co.kr"
              - "https://*.kkhan.co.kr"
            allow-credentials: true
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - Authorization
              - Location
              - X-Tenant-ID
              - X-Request-Id

      routes:
        ################################
        # 외부 라우팅: 클라이언트 <-> 서비스 #
        ################################

        - id: users-signup
          uri: lb://users
          predicates:
            - Path=/users/signup
            - Method=POST,OPTIONS
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
        - id: auth
          uri: lb://auth
          predicates:
            - Path=/auth/**
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=X-User-ID
            - name: AuthorizationHeaderFilter
              args:
                require: false

        - id: users
          uri: lb://users
          predicates:
            - Path=/users/**
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
            - name: AuthorizationHeaderFilter
              args:
                require: true
                verifyDevice: true
                verifyForwardedFor: true

        - id: account
          uri: lb://account
          predicates:
            - Path=/account/**
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
            - name: AuthorizationHeaderFilter
              args:
                require: true
                verifyDevice: true
                verifyForwardedFor: true

        - id: product
          uri: lb://product
          predicates:
            - Path=/product/**
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
            - name: AuthorizationHeaderFilter
              args:
                require: true
                verifyDevice: true
                verifyForwardedFor: true

        - id: order
          uri: lb://order
          predicates:
            - Path=/order/**
#            - Host=**.kkhan.co.kr
          filters:
            - StripPrefix=1
            - name: AuthorizationHeaderFilter
              args:
                require: true
                verifyDevice: true
                verifyForwardedFor: true

        #############################
        # 내부 라우팅: 서비스 <-> 서비스 #
        # 내부 통신은 Host 체크를 하지 않거나 별도 처리
        #############################
        - id: users-internal
          uri: lb://users
          predicates:
            - Path=/internal/users/**
          filters:
            - StripPrefix=2
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=X-User-ID
            - name: AuthorizationHeaderFilter
              args:
                require: false

        - id: account-internal
          uri: lb://account
          predicates:
            - Path=/internal/account/**
          filters:
            - StripPrefix=2
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=X-User-ID
            - name: AuthorizationHeaderFilter
              args:
                require: false

        - id: product-internal
          uri: lb://product
          predicates:
            - Path=/internal/product/**
          filters:
            - StripPrefix=2
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=X-User-ID
            - name: AuthorizationHeaderFilter
              args:
                require: false

        - id: order-internal
          uri: lb://order
          predicates:
            - Path=/internal/order/**
          filters:
            - StripPrefix=2
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=X-User-ID
            - name: AuthorizationHeaderFilter
              args:
                require: false

management:
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: gateway, health, refresh
logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: DEBUG

server:
  port: ${gateway.port}