spring:
  application:
    name: scg
  profiles:
    active: dev
  cloud:
    gateway:
      forwarded:
        enabled: true
      x-forwarded:
        enabled: true
        for-enabled: true
        proto-enabled: true
        host-enabled: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 'http://localhost:3000'
            allow-credentials: true
            allowedHeaders: '*'
            allowedMethods:
              - PUT
              - GET
              - POST
              - DELETE
              - OPTIONS
      routes:
        - id: auth
          uri: lb://auth
          predicates:
            - Path=/auth/**
          filters:
            - name: LoggingFilter
            - StripPrefix=1

        - id: users
          uri: lb://users
          predicates:
            - Path=/users/**
          filters:
            - name: LoggingFilter
            - StripPrefix=1

        - id: account
          uri: lb://account
          predicates:
            - Path=/account/**
          filters:
            - name: LoggingFilter
            - StripPrefix=1

        - id: product
          uri: lb://product
          predicates:
            - Path=/product/**
          filters:
            - name: LoggingFilter
            - StripPrefix=1

#            - name: L1Filter
#              args:
#                pre: true
#                post: true


management:
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: gateway, health, refresh

server:
  port: ${gateway.port}