spring:
  application:
    name: product
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
custom:
  jpa:
    entity-scan-packages:
      - com.msa.product

file:
  base-upload-path: "C:/Users/zks14/Desktop/multi_module/product-service/src/main/resources"
  product-path: ${file.base-upload-path}/products