spring:
  application:
    name: account
  profiles:
    active: dev
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  kafka:
    consumer:
      auto-offset-reset: earliest
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

custom:
  datasource-meta:
    driver-class-name: org.h2.Driver
    jdbcUrl: jdbc:h2:tcp://localhost/~/metadb
    username: sa
    password:
  jpa:
    entity-scan-packages:
      - com.msa.account.domain.store.entity
      - com.msa.account.domain.factory.entity
      - com.msa.account.global.domain.entity