spring:
  application:
    name: account
  profiles:
    active: dev
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: never
  kafka:
    listener:
      missing-topics-fatal: false
    consumer:
      auto-offset-reset: earliest
    bootstrap-servers: ${kafka.uri}
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  flyway:
    enabled: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

custom:
  flyway:
    business:
      locations: classpath:db/migration
      baseline-on-migrate: true
    batch:
      locations: classpath:db/migration_batch
      baseline-on-migrate: true

  jpa:
    entity-scan-packages:
      - com.msa.account.local.store.domain.entity
      - com.msa.account.local.factory.domain.entity
      - com.msa.account.local.transaction_history.domain.entity
      - com.msa.account.global.domain.entity
