name: Deploy Multi-Module to Synology NAS

on:
  push:
    branches: [ "production" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create Config Server Properties
        run: |
          mkdir -p config-service/src/main/resources
          echo "spring.application.name=ConfigServer" > config-server/src/main/resources/application.properties
          echo "spring.profiles.active=secret" >> config-server/src/main/resources/application.properties
          echo "server.port=${{ secrets.CONFIG_PORT }}" >> config-server/src/main/resources/application.properties
          echo "spring.cloud.config.server.git.uri=${{ secrets.PRIVATE_GIT }}" >> config-server/src/main/resources/application.properties
          echo "spring.cloud.config.server.git.ignoreLocalSshSettings=true" >> config-server/src/main/resources/application.properties
          echo "spring.cloud.config.server.git.private-key=${{ secrets.PRIVATE_URL }}" >> config-server/src/main/resources/application.properties
          
          cat config-server/src/main/resources/application.properties

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean :config-service:build -x test

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Config Server Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/config-server:latest ./config-server
          docker push ${{ secrets.DOCKER_USERNAME }}/config-server:latest

  deploy-to-nas:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH into Synology NAS and Deploy Config Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USERNAME }}
          password: ${{ secrets.NAS_PASSWORD }}
          port: ${{ secrets.NAS_SSH_PORT }}
          script: |
            echo "${{ secrets.DOCKER_PASSWORD }}" | sudo docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/config-server:latest
            
            sudo docker stop config-server || true
            sudo docker rm config-server || true
            
            sudo docker run -d \
              --name config-server \
              -p ${{ secrets.CONFIG_PORT }}:${{ secrets.CONFIG_PORT }} \
              ${{ secrets.DOCKER_USERNAME }}/config-service:latest