name: Deploy Multi-Module to Synology NAS

on:
  push:
    branches: [ "production" ]
  pull_request:
    types: [closed]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      config: ${{ steps.filter.outputs.config }}
      eureka: ${{ steps.filter.outputs.eureka }}
      user: ${{ steps.filter.outputs.user }}
      account: ${{ steps.filter.outputs.account }}
      common: ${{ steps.filter.outputs.common }}

    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            config: 'config-server/**'
            user: 'user-service/**'
            account: 'account-service/**'
            eureka: 'eureka-service/**'
            api-gateway: 'api-gateway/**'
            auth: 'auth-service/**'
            product: 'product-service/**'
            order: 'order-service/**'
            common: 'common/**'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create Config Server Properties
        run: |
          mkdir -p config-server/src/main/resources

          echo "spring.application.name=ConfigServer" > config-server/src/main/resources/application.properties
          echo "spring.profiles.active=secret" >> config-server/src/main/resources/application.properties
          
          touch config-server/src/main/resources/application-secret.properties

          echo "ID=${{ secrets.ID }}" >> config-server/src/main/resources/application-secret.properties
          echo "PW=${{ secrets.PW }}" >> config-server/src/main/resources/application-secret.properties
          
          echo "server.port=${{ secrets.CONFIG_PORT }}" >> config-server/src/main/resources/application-secret.properties
          echo "spring.cloud.config.server.git.uri=${{ secrets.PRIVATE_GIT }}" >> config-server/src/main/resources/application-secret.properties
          echo "spring.cloud.config.server.git.ignoreLocalSshSettings=true" >> config-server/src/main/resources/application-secret.properties
          echo "spring.cloud.config.server.git.private-key=${{ secrets.PRIVATE_URL }}" >> config-server/src/main/resources/application-secret.properties
          
          ls -al config-server/src/main/resources/

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean :config-server:build -x test

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Config Server Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/config-server:latest ./config-server
          docker push ${{ secrets.DOCKER_USERNAME }}/config-server:latest

  deploy-to-nas:
    needs: check-changes-Config-Server
    if: ${{ needs.check-changes.outputs.config == 'true' || needs.check-changes.outputs.common == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: SSH into Synology NAS and Deploy
        env:
          NAS_USERNAME: ${{ secrets.NAS_USERNAME }}
          NAS_PASSWORD: ${{ secrets.NAS_PASSWORD }}
          NAS_HOST: ${{ secrets.NAS_HOST }}
          SSH_PORT: ${{ secrets.NAS_SSH_PORT }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          CONFIG_PORT: ${{ secrets.CONFIG_PORT }}
        run: |
          sshpass -p "$NAS_PASSWORD" ssh -t -o StrictHostKeyChecking=no -p $SSH_PORT $NAS_USERNAME@$NAS_HOST << EOF
          
            export PATH=/usr/local/bin:\$PATH
            echo "=== 1. Docker Login ==="
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  
            echo "=== 2. Pull Config Server Image ==="
            docker pull $DOCKER_USERNAME/config-server:latest
  
            echo "=== 3. Reset Container ==="
            docker stop config-server || true
            docker rm config-server || true
  
            echo "=== 4. Run Config Server ==="
            docker run -d \
              --name config-server \
              -p $CONFIG_PORT:$CONFIG_PORT \
              $DOCKER_USERNAME/config-server:latest
  
            echo "=== Deployment Completed ==="
            exit
          EOF

  #Config Server 헬스 체크 (Ping Check)
  verify-config-server:
    needs: [check-changes, deploy-config]
    if: always() && (needs.deploy-config.result == 'success' || needs.deploy-config.result == 'skipped')
    runs-on: ubuntu-latest
    steps:
    - name: Install sshpass
      run: sudo apt-get install -y sshpass

    - name: Wait for Config Server Health
      run: |
        sshpass -p "${{ secrets.NAS_PASSWORD }}" ssh -t -o StrictHostKeyChecking=no -p ${{ secrets.NAS_SSH_PORT }} ${{ secrets.NAS_USERNAME }}@${{ secrets.NAS_HOST }} << EOF
          export PATH=/usr/local/bin:\$PATH
        
          echo "checking config-server health..."
        
        RETRIES=12
        COUNT=0
        
        while [ \$COUNT -lt \$RETRIES ]; do
            if curl -s -f http://localhost:${{ secrets.CONFIG_PORT }}/actuator/health > /dev/null; then
              echo "Config Server is UP and Healthy!"
              exit 0
            fi

            echo "Waiting for Config Server to start... (\$COUNT/\$RETRIES)"
            sleep 10
            COUNT=\$((COUNT+1))
          done

          echo "Config Server failed to start within 2 minutes."
          exit 1
        EOF

  # 에라카 서버 배포
  deploy-eureka:
    needs: [ check-changes, verify-config-server ]
    if: ${{ needs.verify-config-server.result == 'success' && (needs.check-changes.outputs.eureka == 'true' || needs.check-changes.outputs.common == 'true') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Build Eureka Server
        run: ./gradlew clean :eureka-service:build -x test

      - name: Docker Build & Push
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker build -t ${{ secrets.DOCKER_USERNAME }}/eureka-service:latest ./eureka-service
          docker push ${{ secrets.DOCKER_USERNAME }}/eureka-service:latest

      - name: Deploy to NAS
        run: |
          sudo apt-get install -y sshpass
          sshpass -p "${{ secrets.NAS_PASSWORD }}" ssh -t -o StrictHostKeyChecking=no -p ${{ secrets.NAS_SSH_PORT }} ${{ secrets.NAS_USERNAME }}@${{ secrets.NAS_HOST }} << EOF
            export PATH=/usr/local/bin:\$PATH
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          
            docker pull ${{ secrets.DOCKER_USERNAME }}/eureka-service:latest
          
            docker stop eureka-server || true
            docker rm eureka-server || true
          
            docker run -d \
              --name eureka-server \
              -p 8761:8761 \
              ${{ secrets.DOCKER_USERNAME }}/eureka-service:latest
          EOF